<p>stock-item works!</p>
<!-- 
	Square bracket [] - Data flow from component into HTML

	Parentheses    () - Its an event and flows from a user action to the component
-->
<div class="stock-container">
	<div class="name">{{stock.name + '(' + stock.code + ')'}}</div>
	
	<div class="price"
	[style.color]="stock.isPositiveChange() ? 'green' : 'red'"
	[style.background-color]="stock.isPositiveChange() ? 'yellow' : 'blue'">$ {{stock.price}}</div>
	
	<button (click)="toggleFavorite($event)"
			*ngIf="!stock.favorite">Add to Favorite</button>
</div>
